body {
    background-color: #f0f0f0; 
}

.custom-width {
    width: 60%; 
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.heading-container {
    background-color: #ffffff;
    padding: 18px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    text-align: center;
}

.container {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.text-light-green {
    color: rgb(5, 127, 5);
}

.custom-form {
    text-align: center;
}

.fixed-form {
    position: fixed;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; 
    width: 60%; 
    max-width: calc(100% - 40px); 
    background-color: #ffffff; 
    padding: 15px 0; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease; 
    padding: 1%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}

.card-body {
    flex-grow: 1; 
    font-size: inherit !important;
    font-size: var(--font-size);
}
.click {
    cursor: pointer !important; 
}

.popup-form {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}

.popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px; 
    width: 80%; 
    height: auto; 
    max-height: 80%; 
    overflow-y: auto; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.popup-form h2 {
    margin-top: 0;
}

.popup-form p {
    margin-bottom: 0;
}

#voiceSelect {
    width: 100%; 
}




