/* Global Styles */
body {
    background-color: #f0f0f0; 
}

/* Set width to 60% and center horizontally */
.custom-width {
    width: 60%; 
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

/* Add space below alert messages */
.alert-message {
    margin-bottom: 100px;
}

/* Heading Container Styles */
.heading-container {
    background-color: #ffffff;
    padding: 18px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    text-align: center;
}

/* Normal Container Styles */
.container {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 60px;
    align-items: center; 
}

/* Text Color Styles */
.text-light-green {
    color: rgb(5, 127, 5);
}

/* Center text within forms */
.custom-form {
    text-align: center;
}

/* Fixed Position Form at Bottom */
.fixed-form {
    position: fixed;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; 
    width: 60%; 
    max-width: calc(100% - 40px); 
    background-color: #ffffff; 
    padding: 15px 0; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease; 
    padding: 1%;
}

/* Card Styles */
.card {
    min-width: 100%;
}

/* Card Body Styles */
.card-body {
    flex-grow: 1; 
    font-size: inherit !important;
    font-size: var(--font-size);
}

/* Cursor Style */
.click {
    cursor: pointer !important; 
}

/* Popup Form Styles */
.popup-form {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    overflow: auto;
}

/* Popup Content Styles */
.popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px; 
    width: 80%; 
    height: auto; 
    max-height: 80%; 
    overflow-y: auto; 
}

/* Close Button Styles */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Popup Form Heading Styles */
.popup-form h2 {
    margin-top: 0;
}

/* Popup Form Paragraph Styles */
.popup-form p {
    margin-bottom: 0;
}

/* Voice Select Styles */
#voiceSelect {
    width: 100%; 
}





